    {% extends "::layout.html.twig" %}

    {% block content %}
        <!--connexion page inner start-->
        <div class="register-page-inner ptb-100 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <div class="register-page-form">
                            <div class="account-title">
                                <h5>Se connecter</h5>
                            </div>

                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--connexion page inner end-->

    {% endblock %}
