{% extends 'layout.html.twig' %}

{% block content %}
    <div class="register-page-inner ptb-100 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="register-page-form">
                        <div class="account-title">
                            <h5>Réinitialiser mot de passe</h5>
                        </div>
                        <p>
                            Entrez votre email utilisé lors de l'inscription
                        </p>
                        <form action="{{ path('reset_password') }}" method="post">
                            <div class="email">
                                <input name="email" type="email" placeholder="entrez votre email">
                            </div>

                            <div class="login">
                                <button type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}

