{% extends 'layout.html.twig' %}

{% block content %}

    <!--Contact page start-->
    <div class="contact-page pt-130">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                            <div class="contact-list-inner">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="single-contact_list">
                                            <div class="single-contact-icon">

                                            </div>
                                            <div class="single-contact-desc">
                                                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=Cocody+Angré+8ième+tranche">
                                                    <i class="fa fa-map-marker"></i> Cocody Angré 8ième tranche
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 ">
                                        <div class="single-contact_list">
                                            <div class="single-contact-icon">

                                            </div>
                                            <div class="single-contact-desc">
                                                <a href="callto://+22507676745"><i class="fa fa-phone"></i> +225 07 67 67 45</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="single-contact_list">
                                            <div class="single-contact-icon">

                                            </div>
                                            <div class="single-contact-desc">
                                                <a href="mailto:info@ibohcompany.com"><i class="fa fa-at"></i> info@ibohcompany.com</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leave-message">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                <div class="contact-form-inner">
                                    <div class="contact-form-title">
                                        <h5>Laisser un message</h5>
                                    </div>
                                    <form id="contact-form" action="" method="post">
                                        <input name="name" type="text" placeholder="Votre Nom">
                                        <input  name="email" type="text" placeholder="Votre email">

                                        <textarea name="message" placeholder="Entrer votre message"></textarea>
                                        <div class="g-recaptcha" data-sitekey="6Lfpm20UAAAAAM7tbsOyR44eudkRnt8FyFM9hrsP"></div>
                                        <div class="form-submit">
                                            <button type="submit">Envoyer</button>
                                        </div>
                                        <p class="form-messege"></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact page end-->

{% endblock %}