{% extends 'layout.html.twig' %}

{% block content %}
    <!--connexion page inner start-->
    <div class="register-page-inner ptb-100 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="register-page-form">
                        <div class="account-title">
                            <h5>S'identifier</h5>
                        </div>
                        <form action="#">
                            <div class="username">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="password">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="agree-text">
                                <p>
                                    <label>
                                        <input type="checkbox"> <span>se souvenir de moi</span>
                                    </label>
                                </p>
                            </div>
                            <div class="lost-password">
                                <p><a href="#">Mot de passe perdu</a></p>
                            </div>
                            <div class="login">
                                <button type="button">se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--connexion page inner end-->

{% endblock %}