<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-row">
        <input placeholder="pseudo ou email" type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="textinput" />
    </div>
    <div class="form-row">
        <input placeholder="votre mot de passe" type="password" id="password" name="_password" required="required" class="textinput" />
    </div>
    <hr>
    <div class="form-row">
        <input type="submit" id="_submit" name="_submit" value="Se connecter" class=" btn conn"/>
        <a href="#" class="btn conn" id="register-switch-button">Creer un compte</a>
    </div>
</form>
