{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="flash-error alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="username">
        <input id="username" name="_username" type="text" placeholder="Identifiant" required="required">
    </div>
    <div class="password">
        <input type="password" placeholder="Password" id="password" name="_password" required="required">
    </div>

    <div class="lost-password">
        <p><a href="#">Lost your password?</a></p>
    </div>
    <div class="login">
        <button type="submit">Sign in</button>
    </div>
{% endblock fos_user_content %}
