{% extends "::layout.html.twig" %}

    {% block content %}
        <!--connexion page inner start-->
        <div class="register-page-inner ptb-100 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <div class="register-page-form">
                            <div class="account-title">
                                <h5>S'identifier</h5>
                            </div>

                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                <div>
                                    <label for="username">Nom d'utilisateur</label>
                                    <input type="text" id="username" name="username" required="required" />
                                </div>
                                <div>
                                    <input type="submit" value="Reinitialiser le mot de passe" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--connexion page inner end-->

    {% endblock %}




