<div notif-id="{{ id }}" class="notification col-md-6 {% bock  classes %}{% endblock %}" >
    <div class="notification-message">
        {% message %}
    </div>
    <div class="notification-action">
        <a class="validate-notif" href="#">OK</a>
    </div>
</div>


